/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,html{
    height: 100%;
    width: 100%;
}

#root{
    height: 100%;
    width:100%;
    background-color: #ededed;
} */

.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo{
    width: 100px;
    height: 100px;
}

.navbar > ul {
    font-size: 20px;
    display: flex;
    list-style-type: none;
}

.navbar > ul > li{
    padding: 10px;
    margin: 10px;
}

.rescard{
    background-color: #f0f0f0;
    margin: 4px;
    padding:5px;
    width:220px;
}

.rescard:hover{
    cursor: pointer;
    border: 1px solid black;
}

.filter-btn{
    cursor: pointer;
}

.respic{
    width: 100%;
    height: 200px;
}

.restcont{
    display: flex;
    flex-wrap: wrap;
}

.shim-cont{
    display: flex;
    flex-wrap: wrap;
}

.shim-card{
    height: 350px;
    margin: 4px;
    padding:5px;
    width:200px;
    background-color: #f0f0f0;
}

.login-btn{
   margin-right: 10px;
   padding: 0px 15px;
}

.options{
    margin: 10px;
    display: flex;
    gap: 25px;
}

.sear-box{
    margin-right: 3px;
}